[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Source code for James Lee's Jenkins course
[access "refs/*"]
	owner = group user/Prashant Maheshwari (prashantmaheshwari)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Prashant Maheshwari (prashantmaheshwari)
	label-Verified = -1..+1 group user/Prashant Maheshwari (prashantmaheshwari)
	push = group user/Prashant Maheshwari (prashantmaheshwari)
	read = group user/Prashant Maheshwari (prashantmaheshwari)
	rebase = group user/Prashant Maheshwari (prashantmaheshwari)
	removeReviewer = group user/Prashant Maheshwari (prashantmaheshwari)
	submit = group user/Prashant Maheshwari (prashantmaheshwari)
[access "refs/heads/*"]
	create = group user/Prashant Maheshwari (prashantmaheshwari)
	push = +force group user/Prashant Maheshwari (prashantmaheshwari)
	pushMerge = group user/Prashant Maheshwari (prashantmaheshwari)
	read = group user/Prashant Maheshwari (prashantmaheshwari)
[access "refs/tags/*"]
	push = group user/Prashant Maheshwari (prashantmaheshwari)
	push = +force group user/Prashant Maheshwari (prashantmaheshwari)
